<div class="right-container">
    <div class='header'>
        <h4>Your Recognition Feed</h4>
    </div>
    <br>
    <div class="card-outer-container">
        <div class="card-recognition">
            <div class="card-container">
                    <p>"Cooper is an inspiration to all! The time he has spent learning from Brett is obviously paying off!!"</p>
                    <br>
                    <p class='recognition'>
                        <span class='left'>Posted by: Courtney Park</span>
                        <span class='right'>Date: 08/18/18</span>
                    </p>
            </div>
        </div>
    </div>
</div>