<div class="right-container">
    <div class='header'>
        <h4>Your Recognition Feed</h4>
    </div>
    <br>
    <div class="card-outer-container">
        <div *ngFor="let prop of props" class="card-recognition">
            <div class="card-container">
                    <p class='body'>{{prop.body}}</p>
                    <br>
                    <p class='recognition'>
                        <span class='left'>Posted by: {{prop.giver}}</span>
                        <span class='right'>Date: {{prop.date}}</span>
                    </p>
            </div>
        </div>
    </div>
</div>