.main-left, .main-right {
    // margin: 0 auto;
    width: calc((100vw - 180px)/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 150px);
    margin: 20px 0;
    img {
        border-radius: 50%;
        width: 30vh;
        height: 30vh;
    }
    p {
        padding: 10px;
        text-align: center;
    }
}

.main-left {
    border-right: 1px solid #E2E7EA;
}

.main-content-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

a {
  text-decoration: none;
}
