  <div class="row time-period">
    <h4>Time Frame: </h4>
    <select name="" id="">
      <option value="Today">Today</option>
    </select>
  </div>

<div class="card-outer-container">
  <div class="card distribution">
    <div class="card-container">
      <h5>Request Distribution</h5>
      <br>
      <p>Calls Received: </p>
      <p>Chats Received: </p>
      <p>Emails Received: </p>
    </div>
  </div>

  <div class="card email-completion">
    <div class="card-container">
      <h5>Email Ticket Completion</h5>
      <br>
      <p>Email Tickets Received: </p>
      <p>Email Tickets Solved: </p>
    </div>  
  </div>
</div>