<div class="container-fluid app">
  <div class="row app">
    <div class="col-eighth">
      <div class="row left-top">
        <app-logo></app-logo>
      </div>
      <div class="row left-middle">
        <app-nav-links></app-nav-links>
      </div>
      <div class="row left-bottom">Auth Link</div>
    </div>
    <div class="col-seven-eighths">
      <div class="row top">
        <app-top-nav></app-top-nav>
      </div>
      <div class="header">
        <app-header></app-header>
      </div>
      <div class="row main">
        <app-main-content></app-main-content>
      </div>
    </div>
  </div>
</div>


