span {
    padding: 10px;
    margin: 5px;
    text-align: center;
}

div, textarea {
    margin: 5px 100px;
}

.button-right {
    margin-left: auto;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    width: 98px;
    color: #ffffff;
    font-size: 16px;
}

.btn-submit {
    background: #11A1DA;
}

.btn-cancel {
    background: #FB2020;
}